body {
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  input,
  button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  li.completed {
    text-decoration: line-through;
  }
  